li {
  list-style-type: none;
  margin-bottom: 10px;
}

.reviewer {
  font-size: large;
  margin: 5px 0px 0px 0px;
  padding-left: 12px;
}

.rating {
  padding-right: 10px;
  text-align: right;
}

.edit-review {
  padding-right: 36px;
}
