.currentCategory {
  text-align: right;
}

.imageuploadinput {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

.imageuploadlabel {
  border-radius: 3px;
  padding: 13px;
  position: relative;
  background: #ffffff;
  color: #858585;
  border: none;
  cursor: pointer;
}

.imageuploadlabel:hover {
  background: #858585;
  color: #ffffff;
}
