.num-of-reviews {
  margin: 7px;
}

.place-rating {
  float: right;
}

.place-name {
  margin: 10px;
  font-size: large;
}

.place-address {
  margin-left: 43px;
  font-size: medium;
  color: gray;
}
