li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  .categoryName {
    font-size: 12px;
    margin: 5px 0px 0px 0px;
    padding-left: 12px;
  }
  
  .numberOfPlaces {
    padding-right: 10px;
    text-align: right;
  }
  