.reviews-members {
  margin: 10px;
  font-size: medium;
}

.join-button {
}

.group-name {
  margin: 2px;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.group-descrip {
  margin: 2px;
  text-align: center;
}

.group-link {
  cursor: pointer;
}
