.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-container {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-container input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-container button {
  text-transform: capitalize;
  outline: 0;
  background: #448ef7;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-container button:hover,
.login-container button:active,
.login-container button:focus {
  background: #1376ff;
}
.login-container .message {
  margin: 15px 0 0;
  color: #858585;
  font-size: 12px;
}
