.register-page {
  width: 360px;
  padding: 0 0 0;
  margin: auto;
  text-align: center;
}
.register-page img {
  margin-bottom: 1em;
}
.register-page h2 {
  color: #000000;
  font-size: 25px;
  font-weight: 200;
}
.register-container {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 25px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.register-container input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.register-container button {
  text-transform: capitalize;
  outline: 0;
  background: #448ef7;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.register-container button:hover,
.register-container button:active,
.register-container button:focus {
  background: #1376ff;
}
.register-container .message {
  margin: 15px 0 0;
  color: #858585;
  font-size: 12px;
}

.register-form [type='file'] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

.register-form label {
  top: 1em;
  border-radius: 3px;
  padding: 13px;
  position: relative;
  background: #f2f2f2;
  color: #858585;
  border: none;
  cursor: pointer;
}

.register-form label:hover {
  background: #858585;
  color: #ffffff;
}
